<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stock_Market_Tracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stock_Market_Tracking.Properties.Settings.StockMarketAppConnectionString"
            connectionString="Data Source=DGKN\SQLEXPRESS;Initial Catalog=StockMarketApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Stock_Market_Tracking.Properties.Settings>
            <setting name="FormBackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value />
            </setting>
        </Stock_Market_Tracking.Properties.Settings>
    </userSettings>
</configuration>